<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Book Details
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="form" (submit)="formSubmitted()">
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Languaje</ion-label>
      <ion-select formControlName="language">
        <ion-option value="Java">Java</ion-option>
        <ion-option value="Javascript">Javascript</ion-option>
        <ion-option value="C++">C++</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Edition</ion-label>
      <ion-input type="text" formControlName="edition"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Publisher</ion-label>
      <ion-input type="text" formControlName="publisher"></ion-input>
    </ion-item>
    <div margin-top text-end>
      <ion-fab bottom left *ngIf="!submitting">
          <button ion-fab><ion-icon name="md-checkmark"></ion-icon></button>
      </ion-fab>
    </div>
  </form>
  <ion-fab bottom right>
    <button ion-fab *ngIf="book" color="danger" (click)="deleteBook()"><ion-icon name="trash"></ion-icon></button>
  </ion-fab>

</ion-content>
